.slider {
background: url("../assets/mobiles-background.svg") no-repeat top;
background-size: cover;
position: relative;
padding-bottom: 30px;
}
.slider svg {
position: absolute;
top: 40%;
right: 30px;
}

.screens {
display: flex;
align-items: center;
position: relative;
}
.screens svg {
top: -10%;
right: 100%;
}
.screens img {
width: calc(100% / 5);
}
.screens img:nth-last-of-type(3) {
transform: scale(1.1);
transform: translateY(-10%);
margin-bottom: 0;
}
.bullets {
display: flex;
justify-content: center;
gap: 10px;
}
.bullet {
width: 10px;
height: 10px;
border-radius: 50%;
border: 1px solid var(--second-color);
}
.bullet:nth-of-type(3) {
background-color: var(--second-color);
}
@media (width<=768px) {
.slider {
padding-bottom: 10px;
}
.slider svg {
display: none;
}
}
