.features main {
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 100px;
}
.features .card {
width: 100%;
border-radius: 10px;
padding: 20px;
border: 1px solid #ebe3ff;
box-shadow: 0px 7px 4px 0px rgba(183, 183, 183, 0.15);
transition: all 1s ease;
position: relative;
}

.features .card:hover {
border: 1px solid var(--main-color, #512ea6);
box-shadow: 0px 7px 14px 0px rgba(81, 46, 166, 0.21);
transition: all 1s ease;
background: url(../assets/card-background.svg) no-repeat;
}

.features img {
width: 80px;
height: 80px;
}
.features h3 {
margin: 20px 0 10px;
color: var(--main-color, #512ea6);
font-size: 28px;
font-weight: 500;
}
.features .card p {
color: #828282;
text-align: right;
font-size: 24px;
font-weight: 400;
}
@media (width>=768px) {
.features main {
flex-direction: row;
}
.features .card {
width: calc(100% / 3);
padding: 20px;
}
}
