.landing {
background: url("../assets/landing-background.svg") bottom no-repeat;
background-size: cover;
height: fit-content;
}
.landing .container {
display: flex;
justify-content: space-between;
align-items: center;
padding: 50px 0 0 0;
position: relative;
}
.last-pic {
position: absolute;
bottom: 3%;
right: 0;
}
.landing section h1 {
color: var(--main-color, #512ea6);
text-align: right;
font-size: 60px;
font-weight: 600;
}
.landing section p {
color: #828282;
text-align: right;
font-size: 32px;
font-weight: 400;
line-height: 48px; /* 150% */
}
.landing section {
width: 50%;
}

.landing aside {
width: 50%;
text-align: end;
position: relative;
}

.landing aside img:nth-of-type(1) {
position: absolute;
top: 10%;
left: 30%;
z-index: 2;
}
@media (width<=768px) {
.landing .container {
flex-direction: column-reverse;
gap: 40px;
}
.landing section,
.landing aside {
width: 100%;
}
.landing aside img {
width: 70%;
height: 100%;
}
.landing section h1 {
font-size: 32px;
}
.landing section p {
font-size: 24px;
}
.last-pic {
display: none;
}
}
